PUBLIC_SITE_URL=https://expo-stands-panama.netlify.app
PUBLIC_GOOGLE_VERIFICATION=8vGWNDHUwb6kOhVL8Xi1sEluAcVqLtuKnWQwVVd2kQc
PUBLIC_WHATSAPP_NUMBER=50767890123

# Opción A: R2 (Cloudflare)
PUBLIC_R2_PUBLIC_URL=https://pub-aa3fe5f4b46048f8b7664983b9f6980d.r2.dev

# Opción B: volumen local en VPS (dejar vacío)
# PUBLIC_R2_PUBLIC_URL=
